* {
    box-sizing: border-box;
  }
  body,
  main,
  div {
    margin: 0;
    padding: 0;
  }
  ol,
  ul,
  li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  html {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  main {
    display: block;
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* section {
    width: 85rem;
    height: 50rem;
    margin: auto;
  
    margin-top: 5.3rem;
  
    position: relative;
  } */
  button {
    cursor: pointer;
  }
  body {
    overflow-x: hidden;
  }
.section { 
	overflow:hidden;
}
.section { 
	background-color:rgba(242.00000077486038, 243.00000071525574, 245.00000059604645, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.BackgroundWrap { 
	width:600px;
	height:1080px;
	position:absolute;
	left:660px;
	top:0px;
}
.TopBarWrap { 
	width:552px;
	height:44px;
	position:absolute;
	left:24px;
	top:0px;
}
.TopBar { 
	background-color:rgba(255, 255, 255, 1);
	width:552px;
	height:44px;
	position:absolute;
	left:-20.5%;
	top:0px;
}
.Logo { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:72px;
	height:27px;
	position:absolute;
	left:-65px;
	top:9.5px;
}
.MainWrap { 
	background-color:rgba(255, 255, 255, 1);
	width:552px;
	height:900px;
	position:absolute;
	left:-15%;
	top:44px;
}
.GoodsSearch { 
	width:450px;
	height:113px;
	position:absolute;
	left:51px;
	top:78.5px;
}
.GoodsSearchText { 
	background-color:rgba(118.21446105837822, 38.92291501164436, 166.81249290704727, 1);
	width:450px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	text-align: center;
    display: flex; /* 텍스트를 수직 가운데 정렬하기 위해 Flexbox를 사용합니다. */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    color: white;
    font-size: 30px;
    object-fit: cover;
    border: none; /* 테두리를 없앱니다. */
}

.MyCart {
	width:450px;
	height:113px;
	position:absolute;
	left:53px;
	top:252.5px;
}
.MyCartText { 
	background-color:rgba(118.21446105837822, 38.92291501164436, 166.81249290704727, 1);
	width:450px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	text-align: center;
    display: flex; /* 텍스트를 수직 가운데 정렬하기 위해 Flexbox를 사용합니다. */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    color: white;
    font-size: 30px;
    object-fit: cover;
    border: none; /* 테두리를 없앱니다. */
}

.MyPayMent { 
	width:450px;
	height:113px;
	position:absolute;
	left:53px;
	top:432.5px;
}
.MyPayMentText { 
	background-color:rgba(118.21446105837822, 38.92291501164436, 166.81249290704727, 1);
	width:450px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	text-align: center;
    display: flex; /* 텍스트를 수직 가운데 정렬하기 위해 Flexbox를 사용합니다. */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    color: white;
    font-size: 30px;
    object-fit: cover;
    border: none; /* 테두리를 없앱니다. */
}

.MyAddress { 
	width:450px;
	height:113px;
	position:absolute;
	left:53px;
	top:612.5px;
}
.MyAddressText { 
	background-color:rgba(118.21446105837822, 38.92291501164436, 166.81249290704727, 1);
	width:450px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	text-align: center;
    display: flex; /* 텍스트를 수직 가운데 정렬하기 위해 Flexbox를 사용합니다. */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    color: white;
    font-size: 30px;
    object-fit: cover;
    border: none; /* 테두리를 없앱니다. */
}
