<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\goods.css">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class=e5_103>
        <div class=e5_104>
          <div class=e5_108>
            <div class=e5_138>
              <div class=e5_139>
                <div class=e5_151>
                  <div class="e5_142"></div><span  class="e5_148">96,721개 상품평</span><span  class="e5_147">상품평 : </span><span  class="e5_146">★★★★★</span><span  class="e5_145">별점 : </span><span  class="e5_144">8,970원</span><span  class="e5_143">가격 : </span><span  class="e5_141">곰곰 맛있는 꿀고구마(햇) 1.5kg</span>
                </div>
                <div class="e5_133"></div>
              </div>
              <div class=e26_50>
                <div class=e26_51>
                  <div class="e26_52"></div><span  class="e26_53">96,721개 상품평</span><span  class="e26_54">상품평 : </span><span  class="e26_55">★★★★★</span><span  class="e26_56">별점 : </span><span  class="e26_57">8,970원</span><span  class="e26_58">가격 : </span><span  class="e26_59">곰곰 맛있는 꿀고구마(햇) 1.5kg</span>
                </div>
                <div class="e26_60"></div>
                <div class=e26_61>
                  <div class=e26_62>
                    <div class="e26_63"></div><span  class="e26_64">96,721개 상품평</span><span  class="e26_65">상품평 : </span><span  class="e26_66">★★★★★</span><span  class="e26_67">별점 : </span><span  class="e26_68">8,970원</span><span  class="e26_69">가격 : </span><span  class="e26_70">곰곰 맛있는 꿀고구마(햇) 1.5kg</span>
                  </div>
                  <div class="e26_71"></div>
                </div>
              </div>
            </div>
            <div class="TopBar">
            <div class="e5_124"></div>
            <div class=e5_135>
              <div class="e5_125"></div><span  class="e5_128">  쿠팡랭킹순</span>
            </div>
            <div class=e5_136>
              <div class="e5_131"></div><span  class="e5_129">  낮은가격순</span>
            </div>
            <div class=e5_137>
              <div class="e5_132"></div><span  class="e5_130">판매량많은순</span>
            </div>
            <div class=e5_187><span  class="e5_186">뒤로가기</span>
              <div class="e5_185"></div>
            </div><span  class="e5_188">꿀고구마</span>
          </div>
          </div>
        </div>
      </div>
</body>
</html>