<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\index.css">
    <title>Document</title>
</head>
<body>
    <div class="Section">
        <div class="BackgroundWrap">
          <div class="TopBarWrap"></div>
          <div class="MainWrap">
            <div class="LoginBtnWrap">
              <button class="LoginBtn">쿠팡 로그인 하기</button>
            </div>
            <div class="EyeShoppingWrap">
              <button class="EyeShoppingWrapBtn">로그인없이 둘러보기</button>
            </div>
            <div class="Logo">
              <div class="nothing"></div><span  class="nothinglogo">로고</span>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
