<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\index.css">
    <title>Document</title>
</head>
<body>
    <div class=e2_2>
        <div class=e2_3>
          <div class="e2_4"></div>
          <div class=e2_5>
            <div class=e2_33>
              <button class="e2_26">쿠팡 로그인 하기</button>
            </div>
            <div class=e4_39>
              <button class="e2_31">로그인없이 둘러보기</button>
            </div>
            <div class=e4_41>
              <div class="e2_27"></div><span  class="e2_28">로고</span>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
