<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\login.css">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="section">
        <div class="BackgroundWrap">
          <div class="MainWrap">
            <div class="TopBarWrap">
              <div class="TopBar"></div>
              <div class="TopBarText">
                <div class="BackBtnWrap">
                  <button class="BackBtnText">뒤로가기</button>
                </div><span  class="LoginText">로그인</span>
              </div>
            </div>
            <form>
                <div class="InputIdWrap">
                    <input type="text" class="id" placeholder="쿠팡 아이디를 입력하세요.">
                </div>
                  <input type="password" class="password" placeholder="쿠팡 비밀번호를 입력하세요.">
                  <div class="LoginBtnWrap">
                    <button class="LoginBtnText">로그인 하기</button>
            </form>
          </div>
        </div>
      </div>
</body>
</html>