<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\productDetails.css">
    <title>Document</title>
</head>
<body>
    <div class="Section">
        <div class="BackgroundWrap">
          <div class="MainWrap">
            <div class="TopbarSection">
              <div class="TopbarWrap">
                <div class="BackbtnWrap">
                  <div class="BackBtn">뒤로가기</div>
                </div><span  class="TopbarTitle">상품 상세 페이지</span>
              </div>
            </div>
            <div class="ImageWrap"></div>
            <span  class="ProductTitle">곰곰 맛있는 꿀고구마(햇) 1.5kg</span>

            <!-- 가격정보를 여기 넣어버림 -->
            <span  class="ProductPrice">8,970원</span> 

            <span  class="DeliveryCharge">무료배송</span>
            <div class="ProductExplainWrap">
              <button class="ProductExplain">상품 설명</br> 보기</button>
            </div>
            <div class="ReviewWrap">
              <button class="Review">상품평</br> 보기</button>
            </div>
            <div class="RequiredInfoWrap">
              <button class="RequiredInfo">필수 표기</br>정보 보기</button>
            </div>
            <div class="InfoSection" src="../templates/goods.html" ></div>
            <span  class="PriceText">가격 : </span>
            <span  class="StarText">별점 : </span>
            <span  class="Star">★★★★★</span>
            <span  class="ReviewText">상품평 : </span>
            <span  class="ReviewCount">8,000개 </span>
            <span  class="DeliveryChargeText">배송비 : </span>
            <span  class="DeliveryDateText">배송날짜 : </span>
            <span  class="DeliveryDate">내일(토) 9/9 저녁 7 전 도착 보장장</span>
            <div class="OptionbarWrap">
              <div class="Optionbar">
                <form action="#">
                  <!-- <label for="option"></label> -->
                  <select name="Option" id="OptionBtn">
                    <option value="OptionBtn">옵션 선택하기 버튼</option>
                    <option value="two">two</option>
                    <option value="three">three</option>
                  </select>
                  <!-- <input type="submit" value="Submit" /> -->
                  <!-- 구매하기 버튼은 어디? -->
                </form>
              </div>
            </div>
            <!-- <div class="OptionToggle"></div> -->
          </div>
        </div>
      </div>
</body>
</html>