<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\shopping.css">
    <title>Document</title>
</head>
<body>
    <div class="section">
        <div class="BackgroundWrap">
          <div class="TopBarWrap">
            <div class="TopBar"></div>
            <div class="Logo"></div>
          </div>
          <div class="MainWrap">
            <div class="GoodsSearch">
              <button class="GoodsSearchText">상품 검색하러 가기</button>
            </div>
            <div class="MyCart">
              <button class="MyCartText">나의 장바구니 보기</button>
            </div>
            <div class="MyPayMent">
              <button class="MyPayMentText">나의 결제수단</button>
            </div>
            <div class="MyAddress">
              <button class="MyAddressText">나의 배송지</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>